* {

    background: #000000;
}

@font-face{
  font-family: emulogic;
  src: url(../font/emulogic.ttf);
}

#starfield {
    background: #000000;
    cursor: none;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}

.hud {
    padding-left: 25%;
}

div {
  background: #000000;
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: emulogic;
  color: greenyellow;
  font-size: large;
  user-select: none;
  display: inline;

}

